[submodule "django-x509"]
	path = mywifipass
	url = https://github.com/Pablodiz/mywifipass_system
[submodule "mywifipass_android"]
	path = mywifipass_android
	url = https://github.com/Pablodiz/mywifipass_android
